.video-container {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items:flex-end;
  
}
h3{
  color: orange;
}
p{
  font-size: large;
}
*{
  margin-left:20px;
  margin-right: 20px;
}