.container{
background-color:#9112BC;
height:50px;
border-radius: 10px;
display: inline-flex; 
flex-direction: row;
align-items: center;
justify-content: center;
 width: 100%;

}
.container li,a{
    display: inline-block;
    padding-right: 70px;
    text-align: center;
    font-size: larger;
    color: white;
}
.recipes{
  position: relative;
  cursor: pointer;
 
}
.dropdown{
    
    display: none;
    position:absolute;
    color:balck;
   
  }
  .adult{
    position: relative;
  cursor: pointer;
  
  }
  .Dropdown1{
    display: none;
    position:absolute;
    color:balck;

  }
  .adult:hover .Dropdown1{
    display: block;
    color: black;
    background-color:rgb(190, 129, 190);
    display: flex;
    flex-direction: column;
    position:relative;
    }
.cards{
    display: flex;
    flex-direction: row;
    gap:10px; 
     flex-wrap: wrap;
}
.recipes:hover .dropdown{
    display: block;
    color: black;
    background-color: rgb(190, 129, 190);
       display: flex;
    flex-direction: column;
    position:relative;
    }
/* .recipes {
  transition: transform 0.2s;
}
.recipes:hover {
  transform: scale(1.1);
} */


.card
{
    width:400px;
    height: 500px;
    border-style: ridge;
    background-color: #FFFCB8;
    padding: 10px;
}

.food_Image{
    width:360px;
    height:300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}
h1{
    text-align: center;
}
.align_ingredients{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.button{
  background-color: #006A67;
  color: white;
  font-size: large;
  border-color: #006A67;
}
/* .input{
    margin-left: 20px;
} */
/* .dropdown{
  
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}
.recipes{
    position: relative;
}
.recipes:hover .dropdown {
  display: block;} */

  /* .dropdown {
  position: relative;
}

.dropbtn {
  background-color: #4CAF50;
  color: rgb(226, 124, 124);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}


.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown:hover .dropbtn {
  background-color: #3e8e41;
} */